body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#togglesat {
    display:inline-block;
    padding:0.7em 1.4em;
    margin: 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Red Hat Display',sans-serif;
    text-transform:uppercase;
    font-weight:600;
    color:#d23267;
    background-color:#373b48;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    /*margin: 0 auto;*/
    /*background-color: #fb5b3f;*/
    /*color: #fff;*/
    /*font-weight: bold;*/
    /*padding: 0.5em;*/
    /*border: 2px solid #fff;*/
    /*border-radius: 0.5em;*/
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.2);*/
    /*cursor: pointer;*/
    /*position: absolute;*/
    /*left: 0.7em;*/
    /*top: 9em;*/
}

#togglesat:hover {
    bottom:0.15em;
}

#flysd {
    display:inline-block;
    padding:0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Red Hat Display',sans-serif;
    text-transform:uppercase;
    font-weight:600;
    color:#d23267;
    background-color:#373b48;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
}
#flysd:active{
    bottom:0.15em;
}
@media all and (max-width:30em){
    flysd{
        display:block;
        margin:0.4em auto;
        }
}

#flyjg {
    display:inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Red Hat Display',sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #d23267;
    background-color: #373b48;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
    position: relative;
}
#flyjg:active{
    bottom:0.15em;
}
@media all and (max-width:30em){
    flyjg{
        display: block;
        margin: 0.4em auto;
    }
}

/*.geocoder {*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    !*position: absolute;*!*/
/*    !*z-index: 1;*!*/
/*    !*width: 10%;*!*/
/*    !*top: 55px;*!*/
/*    !*left: 0.3em;*!*/
/*    !*background: #eed247;*!*/
/*    !*border-radius: 6px;*!*/
/*}*/

/*.mapboxgl-ctrl-geocoder {*/
/*    min-width: 100%;*/
/*}*/

/*.mapboxgl-ctrl-geocode--input {*/
/*    -webkit-writing-mode: horizontal-tb !important;*/
/*    text-rendering: auto;*/
/*    color: -internal-light-dark(yellow, white);*/
/*    letter-spacing: normal;*/
/*    word-spacing: normal;*/
/*    text-transform: none;*/
/*    text-indent: 0px;*/
/*    text-shadow: none;*/
/*    display: inline-block;*/
/*    text-align: start;*/
/*    appearance: auto;*/
/*    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));*/
/*    -webkit-rtl-ordering: logical;*/
/*    cursor: text;*/
/*    margin: 0em;*/
/*    font: 400 13.3333px "Red Hat Display";*/
/*    padding: 1px 2px;*/
/*    border-width: 2px;*/
/*    border-style: inset;*/
/*    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));*/
/*    border-image: initial;*/
/*}*/

.mapboxgl-popup {
    max-width: 250px;
    max-height: 300px;
    font-family: Red Hat Display, sans-serif;
}

.mapboxgl-popup-content {
    color: #FFFFFF;
    background-color: #373b48;
    border-color: #373b48;
    max-width: 250px;
    box-shadow: 1px 1px 1px 1px #9d9d9d;
    border-radius: 6px, 6px, 6px, 6px;
}

.mapboxgl-popup-content h1 {
    font-size: 22px;
    text-align: center;
    margin-top: 4px;
    color: #d23267;
}

.mapboxgl-popup-content h2 {
    font-size: 18px;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 8px;
}

.mapboxgl-popup-content h3 {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
}

.solid-border {
    width: 95%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 0;
    border: 1px solid #d23267;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #373b48;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #373b48;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #373b48;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #373b48;
}